  <!-- Bottom Navigation-->
  <footer style="padding-top: 50px;">
    <nav class="navbar fixed-bottom">
      <div class="container-fluid">
        <span class="navbar-text" style="color: #fdf0d5;">
          &copy; Copyright 2022. All Rights Reserved 
        </span>
      </div>
    </nav>
  </footer>