

<button id="crbutton" class="btn btn-primary" type="button">
    <a href="/surveylist/create"
   > 
    <i class="fa fa-edit"></i>Create Your Survey
    </button></a> 



<button class="btn_respond" type="button">
    <a href="/surveylist">
    <i class="fas fa-edit"></i> Respond to a Survey
</button> </a>

