<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6"></div>
        <h1><%= title %> </h1>

        <form class="form" method="POST">
            <div class="form-group">
                <label for="nameTextField">Survey Topic</label>
                <input type="text" class="form-control"
                id="TopicTextField"
                placeholder="Enter the survey topic"
                name="survey_topic" required>
            </div>

            <div class="form-group">
                <label for="auhtorTextField">Description</label>
                <input type="text" class="form-control"
                id="DescriptionTextField"
                placeholder="Enter the survey Description"
                name="description" required>

            
            </div>

            <div class="form-group">
                <label for="publishedTextField">Question-11</label>
                <input type="text" class="form-control"
                id="Question1TextField"
                placeholder="Enter your first question"
                name="question1" required>
            </div>

            <div class="form-group">
                <label for="publishedTextField">Answer-1</label>
                <input type="text" class="form-control"
                id="Answere1TextField"
                placeholder="Enter the answer for this "
                name="answer1" required>
            </div>
           
            <div class="form-group">
                <label for="publishedTextField">Question-2</label>
                <input type="text" class="form-control"
                id="Question2TextField"
                placeholder="Enter your second question"
                name="question2" required>
            </div>

            <div class="form-group">
                <label for="publishedTextField">Answer-2</label>
                <input type="text" class="form-control"
                id="Answer2TextField"
                placeholder="Enter your answer for this"
                name="answer2" required>
            </div>


            <div class="form-group">
                <label for="publishedTextField">Question-3</label>
                <input type="text" class="form-control"
                id="Question3TextField"
                placeholder="Enter your third question"
                name="question3" required>
            </div>

           

            
            <div class="form-group">
                <label for="publishedTextField">Answer-3</label>
                <input type="text" class="form-control"
                id="TextField"
                placeholder="Enter your answer for this"
                name="answer3" required>
            </div>



            

            <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>  


            <a href="/surveylist" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            
            
           </form>
    </div>
</div>
